.product__container {
    display: flex;
    column-gap: 20px;
    margin: 20px 0;
}

.product-image__container {
    align-self: center;
}

.product__container img {
    width: 350px;
    height: 350px;
}

.product__name {
    font-size: 36px;
}

.product__price {
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0 20px;
}

.product-deion__container {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
}

.product__avaiability {
    font-size: 12px;
}

label {
    margin: 20px 0;
    display: block;
}


button {
    background-color: var(--blue);
    border: none;
    padding: 10px;
    color: white;
    font-size: 24px;
    transition: .3s all;
    margin: 0;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.3);
}

.buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    transition: .3s;
    
}

.buy-button:hover {
    filter: brightness(1.2);
}



.checkout-button {
    width: 100%;
    padding: 12px;
    background: var(--blue);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.checkout-button:hover {
    filter: brightness(1.2);
}
.remove-button {
    background-color: red; 
    border: none;
    color: white;
    padding: 20px;
    height: 100%;
    transition: .2s all;
}

.remove-button:hover {
    filter: brightness(0.9);
}
.cart-total {
    font-size: 24px;
    color: var(--gray);
    font-weight: 700;
    padding-top: 6px;  

}
.cart-title {
    font-size: 44px;
    color: var(--gray);
    font-weight: 700;
    padding: 8px 0; 
}

li{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    height: 100px;
    align-items: center;
    justify-content: space-between;

}

img{
    width: 100px;
    height: 100px;
    display: block;
}

input {
    width: 30px;
    padding: 8px 0;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input[type=number] {
  -moz-appearance: textfield;
}
